.calculations {
    padding: 15px;
    min-width: 450px;
}
.calculations .scene-menu {
    display: flex;
    justify-content: center;
}
.calculations .scene-option {
    display: inline-block;
    box-shadow: 5px 5px 18px #9291915b;
}
.calculations .scene-menu .scene-option {
    padding: 10px;
    background-color: #fdd900;
    width: 200px;
}
.calculations .scene-menu .scene-option a {
    text-decoration: none;
    color: #231225;
    letter-spacing: 2px;
}
.calculations .scene-menu div:hover {
    background-color: #fdd700b6;
}