.calculations {
    padding: 15px;
    min-width: 450px;
    background-color: #f0f0f094;
    border-radius: 0 100% 0 0;
    animation-name: calculations-background;
    animation-duration: 3s;
}
@keyframes calculations-background {
    from {
        background-color:#23122575;
        border-radius: 100% 100% 0 100%;
    }
  
    to {
        background-color:#f0f0f094;
        border-radius: 0 100% 0 0;
    }
}
.calculations .scene-menu {
    display: flex;
    justify-content: center;
}
.calculations .scene-option {
    display: inline-block;
    box-shadow: 5px 5px 18px #9291915b;
}
.calculations .scene-menu .scene-option {
    padding: 10px;
    background-color: #fdd900;
    width: 200px;
}
.calculations .scene-menu .scene-option a {
    text-decoration: none;
    color: #231225;
    letter-spacing: 2px;
}
.calculations .scene-menu div:hover {
    background-color: #fdd700b6;
}