.historic {
    padding: 15px;
    height: 100vh;
    background-color: #f0f0f094;
    border-radius: 0 0 0 100%;
    animation-name: historic-background;
    animation-duration: 3s;
}
@keyframes historic-background {
    from {
        background-color:#231225;
        border-radius: 100% 100% 100% 0;
    }
  
    to {
        background-color:#f0f0f094;
        border-radius: 0 0 0 100%;
    }
}