.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  border: none;
}
.header .navbar-brand img {
  width: 25px;
}
.header .btn-exit {
  margin-left: 10px;
  background: transparent;
  border: none;
  margin: 0px;
  color: rgb(202, 202, 202);
  a {
    color: rgb(202, 202, 202);
    text-decoration: none;
    &:hover {
      color: #ffffff;
    }
  }
}
.header .btn-exit:hover {
  color: #ffffff;
}
